In [7]:
import pandas as pd
import numpy as np
import datetime
from time import strftime

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [8]:
week_key = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [9]:
df = pd.read_csv("/Users/P U N I/M L/PROJ/Patient dataset.csv")

In [10]:
df.shape

(110527, 14)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [12]:
df['PatientId']=df['PatientId'].astype('int64')
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.date.astype('datetime64[ns]')
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.date.astype('datetime64[ns]')
df = df.rename(columns={'Hipertension': 'Hypertension', 'Handcap': 'Handicap', 'SMS_received': 'SMSReceived', 'No-show': 'NoShow'})

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null int64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null datetime64[ns]
AppointmentDay    110527 non-null datetime64[ns]
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hypertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handicap          110527 non-null int64
SMSReceived       110527 non-null int64
NoShow            110527 non-null object
dtypes: datetime64[ns](2), int64(9), object(3)
memory usage: 11.8+ MB

In [14]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,29900000000000,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,559000000000000,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4260000000000,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,868000000000,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8840000000000,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [15]:
print(df.columns.ravel())

['PatientId' 'AppointmentID' 'Gender' 'ScheduledDay' 'AppointmentDay'
 'Age' 'Neighbourhood' 'Scholarship' 'Hypertension' 'Diabetes'
 'Alcoholism' 'Handicap' 'SMSReceived' 'NoShow']

In [16]:
df.drop(['PatientId','AppointmentID'],axis=1,inplace=True)

In [17]:
df.head()

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
Gender            110527 non-null object
ScheduledDay      110527 non-null datetime64[ns]
AppointmentDay    110527 non-null datetime64[ns]
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hypertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handicap          110527 non-null int64
SMSReceived       110527 non-null int64
NoShow            110527 non-null object
dtypes: datetime64[ns](2), int64(7), object(3)
memory usage: 10.1+ MB

In [19]:
df['Scholarship'] = df['Scholarship'].astype('object')
df['Hypertension'] = df['Hypertension'].astype('object')
df['Diabetes'] = df['Diabetes'].astype('object')
df['Alcoholism'] = df['Alcoholism'].astype('object')
df['Handicap'] = df['Handicap'].astype('object')
df['SMSReceived'] = df['SMSReceived'].astype('object')
#df['Neighbourhood']=df['Neighbourhood'].astype('object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
Gender            110527 non-null object
ScheduledDay      110527 non-null datetime64[ns]
AppointmentDay    110527 non-null datetime64[ns]
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null object
Hypertension      110527 non-null object
Diabetes          110527 non-null object
Alcoholism        110527 non-null object
Handicap          110527 non-null object
SMSReceived       110527 non-null object
NoShow            110527 non-null object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 10.1+ MB

In [21]:
np.sort(df.Age.unique())

array([ -1,   0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
        12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,
        25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,
        38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,
        51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,
        64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,
        77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,
        90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 102, 115],
      dtype=int64)

In [22]:
df=df[df.Age>=0]

In [23]:
np.sort(df.Age.unique())

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 102, 115],
      dtype=int64)

In [24]:
df[(df.Age <= 0) & ((df.Hypertension.astype(int) == 1) | (df.Diabetes.astype(int) == 1) | (df.Alcoholism.astype(int) == 1))]

Empty DataFrame
Columns: [Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood, Scholarship, Hypertension, Diabetes, Alcoholism, Handicap, SMSReceived, NoShow]
Index: []

In [25]:
np.sort(df.ScheduledDay.dt.strftime('%d-%m-%y').unique())

array(['01-02-16', '01-03-16', '01-04-16', '01-06-16', '02-02-16',
       '02-03-16', '02-05-16', '02-06-16', '03-02-16', '03-03-16',
       '03-05-16', '03-06-16', '03-12-15', '04-01-16', '04-02-16',
       '04-03-16', '04-05-16', '04-06-16', '05-01-16', '05-02-16',
       '05-03-16', '05-04-16', '05-05-16', '06-04-16', '06-05-16',
       '06-06-16', '07-01-16', '07-03-16', '07-04-16', '07-05-16',
       '07-06-16', '07-12-15', '08-03-16', '08-04-16', '08-06-16',
       '08-12-15', '09-03-16', '09-04-16', '09-05-16', '10-03-16',
       '10-05-16', '10-11-15', '11-01-16', '11-02-16', '11-03-16',
       '11-04-16', '11-05-16', '12-02-16', '12-04-16', '12-05-16',
       '13-01-16', '13-04-16', '13-05-16', '14-01-16', '14-03-16',
       '14-04-16', '14-05-16', '14-12-15', '15-02-16', '15-03-16',
       '15-04-16', '15-12-15', '16-02-16', '16-03-16', '16-04-16',
       '16-05-16', '17-02-16', '17-03-16', '17-05-16', '18-02-16',
       '18-03-16', '18-04-16', '18-05-16', '19-01-16', '19-02-16',
       '19-03-16', '19-04-16', '19-05-16', '20-01-16', '20-04-16',
       '20-05-16', '21-01-16', '21-03-16', '22-01-16', '22-02-16',
       '22-03-16', '23-02-16', '23-03-16', '24-02-16', '24-05-16',
       '25-01-16', '25-02-16', '25-04-16', '25-05-16', '26-01-16',
       '26-02-16', '26-04-16', '27-01-16', '27-04-16', '28-01-16',
       '28-03-16', '28-04-16', '29-01-16', '29-02-16', '29-03-16',
       '29-04-16', '30-03-16', '30-04-16', '30-05-16', '31-03-16',
       '31-05-16'], dtype=object)

In [26]:
np.sort(df.AppointmentDay.dt.strftime('%d-%m-%y').unique())

array(['01-06-16', '02-05-16', '02-06-16', '03-05-16', '03-06-16',
       '04-05-16', '05-05-16', '06-05-16', '06-06-16', '07-06-16',
       '08-06-16', '09-05-16', '10-05-16', '11-05-16', '12-05-16',
       '13-05-16', '14-05-16', '16-05-16', '17-05-16', '18-05-16',
       '19-05-16', '20-05-16', '24-05-16', '25-05-16', '29-04-16',
       '30-05-16', '31-05-16'], dtype=object)

In [27]:
df['ScheduledDay_DOW'] = df['ScheduledDay'].dt.weekday_name
df['AppointmentDay_DOW'] = df['AppointmentDay'].dt.weekday_name

In [28]:
df['AppointmentDay'] = np.where((df['AppointmentDay'] - df['ScheduledDay']).dt.days < 0, df['ScheduledDay'], df['AppointmentDay'])

In [29]:
df['Waiting_Time_days'] = df['AppointmentDay'] - df['ScheduledDay']
df['Waiting_Time_days'] = df['Waiting_Time_days'].dt.days

In [30]:
df.sample(5)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,ScheduledDay_DOW,AppointmentDay_DOW,Waiting_Time_days
35400,F,2016-05-03,2016-05-05,22,JESUS DE NAZARETH,0,0,0,0,0,0,No,Tuesday,Thursday,2
95389,M,2016-05-09,2016-06-06,2,MARIA ORTIZ,0,0,0,0,0,0,Yes,Monday,Monday,28
94689,M,2016-05-30,2016-06-01,25,ITARARÉ,0,0,0,0,0,0,No,Monday,Wednesday,2
100636,F,2016-06-08,2016-06-08,3,REDENÇÃO,0,0,0,0,0,0,No,Wednesday,Wednesday,0
54315,F,2016-05-04,2016-05-13,33,ILHA DO PRÍNCIPE,1,0,0,0,0,0,Yes,Wednesday,Friday,9

In [31]:
print("NoShow and Show Count of Patients\n")
print(df.groupby(['NoShow']).size())

print("\nNoShow and Show '%' of Patients\n")
show = df.groupby(['NoShow']).size()[0]/(df.groupby(['NoShow']).size()[0]+df.groupby(['NoShow']).size()[1])
print("Percent of Patients who `Showed Up` => {:.2f}%".format(show*100))
noshow = df.groupby(['NoShow']).size()[1]/(df.groupby(['NoShow']).size()[0]+df.groupby(['NoShow']).size()[1])
print("Percent of Patients who Did `Not Showed Up` => {:.2f}%".format(noshow*100))

NoShow and Show Count of Patients

NoShow
No     88207
Yes    22319
dtype: int64

NoShow and Show '%' of Patients

Percent of Patients who `Showed Up` => 79.81%
Percent of Patients who Did `Not Showed Up` => 20.19%

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110526 entries, 0 to 110526
Data columns (total 15 columns):
Gender                110526 non-null object
ScheduledDay          110526 non-null datetime64[ns]
AppointmentDay        110526 non-null datetime64[ns]
Age                   110526 non-null int64
Neighbourhood         110526 non-null object
Scholarship           110526 non-null object
Hypertension          110526 non-null object
Diabetes              110526 non-null object
Alcoholism            110526 non-null object
Handicap              110526 non-null object
SMSReceived           110526 non-null object
NoShow                110526 non-null object
ScheduledDay_DOW      110526 non-null object
AppointmentDay_DOW    110526 non-null object
Waiting_Time_days     110526 non-null int64
dtypes: datetime64[ns](2), int64(2), object(11)
memory usage: 13.5+ MB

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110526 entries, 0 to 110526
Data columns (total 15 columns):
Gender                110526 non-null object
ScheduledDay          110526 non-null datetime64[ns]
AppointmentDay        110526 non-null datetime64[ns]
Age                   110526 non-null int64
Neighbourhood         110526 non-null object
Scholarship           110526 non-null object
Hypertension          110526 non-null object
Diabetes              110526 non-null object
Alcoholism            110526 non-null object
Handicap              110526 non-null object
SMSReceived           110526 non-null object
NoShow                110526 non-null object
ScheduledDay_DOW      110526 non-null object
AppointmentDay_DOW    110526 non-null object
Waiting_Time_days     110526 non-null int64
dtypes: datetime64[ns](2), int64(2), object(11)
memory usage: 13.5+ MB

In [35]:
df.sample(8)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,ScheduledDay_DOW,AppointmentDay_DOW,Waiting_Time_days
35266,F,2016-05-02,2016-05-02,18,JESUS DE NAZARETH,0,0,0,0,0,0,No,Monday,Monday,0
8015,M,2016-05-12,2016-05-12,12,JESUS DE NAZARETH,0,0,0,0,0,0,No,Thursday,Thursday,0
47753,F,2016-04-19,2016-05-11,18,MARUÍPE,0,0,0,0,0,1,No,Tuesday,Wednesday,22
29515,F,2016-05-02,2016-05-06,29,ROMÃO,0,0,0,0,0,1,No,Monday,Friday,4
38838,F,2016-05-06,2016-05-06,61,VILA RUBIM,0,0,0,0,0,0,No,Friday,Friday,0
75904,F,2016-05-06,2016-05-11,66,SÃO PEDRO,0,1,0,0,0,1,No,Friday,Wednesday,5
35425,M,2016-05-03,2016-05-05,51,BONFIM,0,0,0,1,0,0,No,Tuesday,Thursday,2
25770,M,2016-05-16,2016-05-30,5,SÃO PEDRO,1,0,0,0,0,1,No,Monday,Monday,14

In [36]:
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
#Neighbourhood
le = LabelEncoder()
df['Neighbourhood'] = le.fit_transform(df['Neighbourhood'])
#ScheduledDay_DOW
le = LabelEncoder()
df['ScheduledDay_DOW'] = le.fit_transform(df['ScheduledDay_DOW'])
#AppointmentDay_DOW
le = LabelEncoder()
df['AppointmentDay_DOW'] = le.fit_transform(df['AppointmentDay_DOW'])
print("LabelEncoder Completed")

#NoShow
le = LabelEncoder()
df['NoShow'] = le.fit_transform(df['NoShow'])




df['ScheduledDay_Y'] = df['ScheduledDay'].dt.year
df['ScheduledDay_M'] = df['ScheduledDay'].dt.month
df['ScheduledDay_D'] = df['ScheduledDay'].dt.day
df.drop(['ScheduledDay'], axis=1, inplace=True)

df['AppointmentDay_Y'] = df['AppointmentDay'].dt.year
df['AppointmentDay_M'] = df['AppointmentDay'].dt.month
df['AppointmentDay_D'] = df['AppointmentDay'].dt.day
df.drop(['AppointmentDay'], axis=1, inplace=True)

x = df.drop(['NoShow'], axis=1)
y = df['NoShow']

LabelEncoder Completed

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=0)

In [38]:
rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(x_train, y_train)

C:\Users\P U N I\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [39]:
rf_clf.score(x_test, y_test)

0.778664253989143

In [40]:
rf_clf.score(x_train,y_train)

0.9734105763517529

In [41]:
df1=x.sample()
df1

,Gender,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,ScheduledDay_DOW,AppointmentDay_DOW,Waiting_Time_days,ScheduledDay_Y,ScheduledDay_M,ScheduledDay_D,AppointmentDay_Y,AppointmentDay_M,AppointmentDay_D
54225,0,56,33,0,0,0,0,0,0,1,1,0,2016,5,16,2016,5,16

In [42]:
predictions=rf_clf.predict(x_test)

In [43]:
errors=abs(predictions-y_test)

In [44]:
print("Mean Absolute Error:",round(np.mean(errors),2),'degrees.')

Mean Absolute Error: 0.22 degrees.

In [46]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
pred=rf_clf.predict(x)

In [47]:
conf_matrix=confusion_matrix(y,pred)

In [48]:
print(conf_matrix)

[[85757  2450]
 [ 7592 14727]]

In [49]:
acc_score=accuracy_score(y,pred)
rec_score=recall_score(y,pred)
prec_score=precision_score(y,pred)
f1s_core=f1_score(y,pred)

In [50]:
print("Accuracy Score={0}".format(acc_score))
print("Recall score={0}".format(rec_score))
print("Precision Score={0}".format(prec_score))
print("f1 Score={0}".format(f1s_core))

Accuracy Score=0.9091435499339522
Recall score=0.6598413907433128
Precision Score=0.8573674099085987
f1 Score=0.7457464046992099